@model Sp.Samples.LicenseManagement.Store.Models.PurchaseRecordModel

@{
    ViewBag.Title = "Purchase Details";
}

<h2>Purchase Details</h2>

<fieldset>
    <legend>PurchaseRecordModel</legend>

    <p><b>Quantity: </b>@Html.DisplayFor(model => model.Quantity)</p>
    <p><b>Catalog Entry Id: </b>@Html.DisplayFor(model => model.CatalogEntryId)</p>
    <p><b>Product: </b>@Html.DisplayFor(model => model.ProductName), @Html.DisplayFor(model => model.ProductVersion)</p>
    <p><b>Description: </b>@Html.DisplayFor(model => model.Description)</p>
    <p><b>Licensing Basis: </b>@Html.DisplayFor(model => model.LicensingBasis)</p>
    @foreach ( var item in Model.OrderItemModels )
    {
        <h4>Order Item Reference No.: PR @Html.DisplayFor(modelItem => item.PurchaseRecordId)-@Html.DisplayFor(modelItem => item.OrderItemNo)</h4>
        <p>
            <b>@Html.DisplayNameFor(modelItem => item.ActivationKey): </b>@Html.DisplayFor(modelItem => item.ActivationKey)
        </p>
        <p>
            <b>@Html.DisplayNameFor(modelItem => item.LicenseId): </b>@Html.DisplayFor(modelItem => item.LicenseId)
        </p>
    }
</fieldset>
<p>
    @Html.ActionLink("Back to List", "ListPurchases")
</p>
