@model Sp.Samples.LicenseManagement.Store.Models.SelectedProductModel

@{
    ViewBag.Title = "Selected Product";
}

<h2>Selected Product</h2>

        
        <header>
            <h3>Catalog Item:  @Html.DisplayFor(model=>model.ProductName), @Html.DisplayFor(model=>model.ProductVersion) </h3>
        </header>
@using (Html.BeginForm()) {
<table>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Blurb):</b>
        </td>
        <td>
            @Html.DisplayFor(model=>model.Blurb)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.LicensingBasis):</b>
        </td>
        <td>
            @Html.DisplayFor(model=>model.LicensingBasis)
        </td>
    </tr>

@Html.ValidationSummary(true)
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Quantity):</b>
        </td>
        <td>
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <input type="submit" value="Buy license" />
            </p>
        </td>
        <td>
             @Html.ActionLink("Back to list", "../Purchase/Buy")
        </td>
    </tr>
  
</table>
}  