@model IEnumerable<Sp.Samples.LicenseManagement.Store.Models.CatalogEntryModel>

@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>


@foreach (var item in Model) {
    <section class="catalog">
        <header>
            <h3>Catalog Item:  @item.ProductName, @item.ProductVersion</h3>
        </header>
        <p>
            <b>Description:</b> @item.Blurb
        </p>
        <p>
            <b>License Type:</b> @item.LicenseType
        </p>        
        <p>
            @Html.ActionLink("View Details for this product", "../Purchase/SelectedProduct", new {id=item.Id})
        </p>
    </section>
}

