@model IEnumerable<Sp.Samples.LicenseManagement.Store.Models.PurchaseRecordModel>

@{
    ViewBag.Title = "List of Purchases";
}

<h2>List of Purchases</h2>

<table>
    @foreach ( var item in Model )
    {
        <tr>
            <td>
                <h4>Purchase Record @Html.DisplayFor(modelItem => item.Id)</h4>
                <p>Product: @Html.DisplayFor(modelItem=>item.ProductName) @Html.DisplayFor(modelItem=>item.ProductVersion)</p>
                <p>Description: @Html.DisplayFor(modelItem=>item.Description)</p>
                <p>Licensing Basis: @Html.DisplayFor(modelItem=>item.LicensingBasis)</p>
            </td>
            <td>
                @Html.ActionLink( "Details of this purchase", "PurchaseDetails", new { id=item.Id } )
            </td>
        </tr>
    }
</table>
