@model Sp.Samples.LicenseManagement.Store.Models.PurchaseRecordModel

@{
    ViewBag.Title = "Purchase Details";
}

<h2>Purchase Details</h2>

<fieldset>
    <legend>PurchaseRecordModel</legend>
    <h3>
        Product: @Html.DisplayFor(model => model.ProductName), @Html.DisplayFor(model => model.ProductVersion)
    </h3>

    <p>
        <b>@Html.DisplayNameFor(model => model.Quantity): </b>@Html.DisplayFor(model => model.Quantity)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.Description): </b>@Html.DisplayFor(model => model.Description)
    </p>

    @foreach ( var item in Model.OrderItemModels )
    {
        <h4>Order Item Reference No.: PR @Html.DisplayFor(modelItem => item.PurchaseRecordId)-@Html.DisplayFor(modelItem => item.OrderItemNo)</h4>
        <p>
            <b>@Html.DisplayNameFor(modelItem => item.ActivationKey): </b>@Html.DisplayFor(modelItem => item.ActivationKey)
        </p>
        <p>
            <b>@Html.DisplayNameFor(modelItem => item.LicenseId): </b>@Html.DisplayFor(modelItem => item.LicenseId)
        </p>
    }
</fieldset>
<p>    
    @Html.ActionLink("Make another purchase", "../Purchase/Buy")
</p>
