@model Sp.Samples.LicenseManagement.Store.Models.PurchaseRecordModel

@{
    ViewBag.Title = "Purchase Details";
}

<h2>Purchase Details</h2>

<fieldset>
    <legend>PurchaseRecordModel</legend>
    <p>
         <b>@Html.DisplayNameFor(model => model.CatalogEntryId): </b>@Html.DisplayFor(model => model.CatalogEntryId)
    </p>

    <p>
        <b>Product: </b>@Html.DisplayFor(model => model.ProductName), @Html.DisplayFor(model => model.ProductVersion)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.Quantity): </b>@Html.DisplayFor(model => model.Quantity)
    </p>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Description)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    @foreach ( var item in Model.OrderItemModels )
    {
        <h4>Order Item Reference No.: @Html.DisplayFor(modelItem => item.Id)</h4>
        <p>
            <b>@Html.DisplayNameFor(modelItem => item.ActivationKey): </b>@Html.DisplayFor(modelItem => item.ActivationKey)
        </p>
        <p>
            <b>@Html.DisplayNameFor(modelItem => item.LicenseId): </b>@Html.DisplayFor(modelItem => item.LicenseId)
        </p>
    }
</fieldset>
<p>    
    @Html.ActionLink("Make another purchase", "../Purchase/Buy")
</p>
