@model Sp.Samples.LicenseManagement.Store.Models.CatalogEntryModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CatalogEntry</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductVersion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductVersion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SkuId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkuId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Blurb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blurb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
